* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontKanit;

    &::selection {
        background-color: #fe5000;
        color: #000000;
    }
  }

body{
    background-color: $mainColor;
}

a{
    text-decoration: none !important;
  }